.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que el diálogo esté encima de otros elementos */
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  z-index: 1001; /* Asegura que el contenido del diálogo esté encima del fondo */
}

.dialog-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.form-row {
  margin-bottom: 15px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


#botonprim{
  background-color: #fed244;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#botonsec{
  background-color: #6c757d; /* Gris */
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#botonprim:hover{
  background-color: #ffc400;
}

#botonsec:hover{
  background-color: #4f555a;
}

#btnbtn{
  background-color: #4CAF50;
  color: white;
}