.edit-profile {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 30px;
  }
  
  .profile-picture-section {
    text-align: center;
  }
  
  .profile-picture-wrapper {
    margin-bottom: 10px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .placeholder-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
  
  .input-section {
    margin-bottom: 20px;
  }
  
  .input-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-section input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .save-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  
  .change-password-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .change-password-btn:hover {
    background-color: #1976D2;
  }
  
  .password-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .password-dialog-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .error-message {
    color: red;
  }
  
  .confirm-btn, .cancel-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .confirm-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .confirm-btn:hover {
    background-color: #45a049;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #e53935;
  }
  

  .clear-picture-btn {
    margin-top: 10px;
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .clear-picture-btn:hover {
    background-color: #c62828; /* Rojo oscuro */
  }
  