header {
  background-color: #fed244;
  padding: 20px; 
  color: #fff;
  margin-bottom: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  padding-top: 0px;
}


.header-imagen {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

#titulo {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  header {
    padding: 10px; /* Reduce el padding del header */
    margin-bottom: 0;
  }

  .header-content {
    flex-direction: column; /* Cambia la dirección del contenido para apilarse verticalmente */
    padding: 15px 10px; /* Reduce el padding del contenido */
    padding-top: 0;
  }

  .header-imagen {
    max-width: 150px; /* Reduce el tamaño de la imagen a la mitad */
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Añade un margen inferior para separar la imagen del texto */
  }

  #titulo {
    font-size: 28px; /* Reduce considerablemente el tamaño de la fuente */
    margin-left: 0; /* Elimina el margen izquierdo */
    text-align: center; /* Centra el texto para mejor visualización en pantallas pequeñas */
    line-height: 1.1;
  }
}

@media (max-width: 480px) {
  header {
    padding: 5px; /* Aún más pequeño en pantallas extra pequeñas */
    margin-bottom: 11px;
  }

  .header-content {
    padding: 10px; /* Reduce aún más el padding */
  }

  .header-imagen {
    max-width: 100px; /* Ajusta el tamaño de la imagen para pantallas extremadamente pequeñas */
  }

  #titulo {
    font-size: 20px; /* Reduce el tamaño de la fuente para que quepa mejor en pantallas pequeñas */
    letter-spacing: 1px; /* Reduce el espaciado entre letras */
  }

}
