
.project-details-wrapper {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  margin-right: 30px;
  margin-left: 30px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.project-header {
  text-align: center;
}

.project-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-description {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.project-header p {
  font-size: 16px;
  color: #777;
}

.open-dialog-btn, .new-contribution-btn {
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.open-dialog-btn:hover {
  background-color: #00509d;
}


.members-list {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 15px;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.member-item:hover {
  transform: scale(1.02);
}

.member-item span {
  font-size: 18px;
  color: #333;
}

.remove-member-btn {
  background-color: #ff5722;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.remove-member-btn:hover {
  background-color: #e64a19;
}


.no-members {
  color: #666;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}

.dialog{
  background-color: #fff; 
  opacity: 1; 
  padding: 20px; 
  border-radius: 10px; 
  width: 450px;
}


.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.confirm-contribution-btn {
  background-color: #4CAF50;
  color: white;
}

.close-dialog-btn, .cancel-btn {
  background-color: #f44336;
  color: white;
}

.close-dialog-btn:hover{
  background-color: #9e1f2c;
}

.confirm-contribution-btn:hover{
  background-color: #155724;
}

.add-member-btn {
  background-color: #2196F3;
  color: white;
}

.confirm-btn {
  background-color: #4CAF50;
  color: white;
}


.confirm-btn, .cancel-btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: #388e3c;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}

.new-contribution-btn {
  background-color: #4CAF50;
}

.new-contribution-btn:hover{
  background-color: #155724;
}


.members-balance{
  max-width: 700px;
  margin-bottom: 90px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#gol{
  text-align: center;
}

.positive-balance {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: -15px;
  margin-right: 15px;
}

.negative-balance {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: -15px;
  margin-right: 15px;
}
.dropdown-container {
  position: relative;
  margin-top: 10px;
}

.dropdown-toggle {
  width: 100%; /* Asegura que el botón sea igual al contenedor */
  margin-left: 0px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  content: "▼";
  font-size: 12px;
  margin-left: 10px;
  color: #888;
}



.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px); /* Ubica el dropdown justo debajo del botón */
  width: 100%; /* Igual al ancho del botón */
  max-height: 200px; /* Muestra hasta 7 elementos */
  overflow-y: auto; /* Habilita scroll vertical */
  border: 1px solid #ddd;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


.dropdown-item {
  padding: 8px 12px;
  font-size: 14px;
  overflow: visible; /* Permite que el contenido sea visible */
  white-space: normal; /* Permite que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Opcional, para textos largos */
  cursor: pointer;
}


.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.selected {
  background: #d4edda;
  color: #155724;
  font-weight: bold;
}


.division-settings {
  position: absolute; 
  top: 80px;
  left: 20px;
  background-color: #f8f9fa; 
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 220px;
  max-width: fit-content;
  margin-top: 180px;
}

.percentage-inputs {
  margin-top: 10px; 
}

.percentage-field {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 5px; 
}

.percentage-field label {
  flex: 1; 
  margin-right: 10px;
}

.percentage-input {
  width: 60px; 
  min-width: 60px; 
}

.color-confirm{
  background-color: #fed244;
  margin-left: 150px;
}

.color-confirm:hover{
  background-color: #675004;
}





@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .open-dialog-btn, .new-contribution-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .dialog-content {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .project-details-wrapper {
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .header-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .open-dialog-btn, .new-contribution-btn {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .project-header {
    text-align: center;
  }

  .project-title {
    font-size: 28px;
  }

  .project-description {
    font-size: 16px;
  }

  .members-list {
    max-height: 200px;
  }

  .dialog-content {
    width: 100%;
  }

  .members-balance {
    max-width: 100%;
    margin: 20px auto;
  }

  .division-settings {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 0;
    left: 0;
  }

  .dialog {
    width: 90%;
  }

  .positive-balance, .negative-balance {
    margin-left: 0;
    margin-right: 0;
  }

  .percentage-input {
    width: 100%;
  }

  .confirm-btn, .cancel-btn {
    width: 100%;
  }

}


@media (max-width: 480px) {
  .project-title {
    font-size: 24px;
  }

  .project-description {
    font-size: 14px;
  }

  .members-list {
    max-height: 150px;
  }

  .open-dialog-btn, .new-contribution-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .positive-balance, .negative-balance {
    padding: 8px;
    font-size: 14px;
  }

  .division-settings {
    padding: 10px;
  }
}
